@font-face {
  font-family: "Pretendard-Regular";
  font-weight: normal;
  src: url("./fonts/Pretendard-Regular.otf") format("truetype");
}

body {
  font-family: "Pretendard-Regular";
  margin:0
}  

.my-swal {
  z-index: 1000000;
}

/* @font-face {
  font-family: "nexon-Regular";
  font-weight: normal;
  src: url("./fonts/Nexon_Medium.otf") format("truetype");
}

body {
  font-family: "nexon-Regular";
} */