@font-face {
  font-family: "Pretendard-Regular";
  font-weight: normal;
  src: url("./fonts/Pretendard-Regular.otf") format("truetype");
}

body {
  font-family: "Pretendard-Regular";
  margin:0
}  

.my-swal {
  z-index: 1000000;
}

/* 스크롤바 수정 */
::-webkit-scrollbar {
	width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb{
  background: #1d23648f;
  border: 1px solid #1d23648f;
  border-radius: 5px;
}