@font-face {
    font-family: "Pretendard-Regular";
    font-weight: normal;
    src: url("./fonts/Pretendard-Regular.otf") format("truetype");
  }
  
  body {
    font-family: "Pretendard-Regular";
  }